{% extends 'tunduk_app/wrapper.html' %}
{% load static %}
{% block content %}

<div class="div_format">
  {% for i in content %}
    <h3>Данные из личных страховых счетов застрахованного лица СФ КР</h3>
      {% if i.head %}
        <p>Источник:            {{ i.head.issuer }}</p>
        <p>Дата:            {{ i.head.date_time }}</p>
        <p>Фамилия:  {{ i.head.last_name }}</p>
        <p>Имя:  {{ i.head.name }}</p>
        <p>Отчество:  {{ i.head.patronymic }}</p>
        <p>ИНН:  {{ i.head.pin }}</p>
        <table class="table1">
          <tr>
           <th>ИНН организации</th>
           <th>Номер СФ организации</th>
           <th>Название организации</th>
           <th>Дата начало</th>
           <th>Дата конец</th>
           <th>Сумма</th>
         </tr>
         {% for i in content %}
             <tr>
               <td>{{ i.inn }}</td>
               <td>{{ i.numsf }}</td>
               <td>{{ i.payer }}</td>
               <td>{{ i.date_begin }}</td>
               <td>{{ i.date_end }}</td>
               <td>{{ i.salary }}</td>
             </tr>
         {% endfor %}
    {% endif %}
  {% endfor %}

{% for i in content %}

{% endfor %}
</table>
<br>
<p><a class="btn-css" href="{% url 'pdf' %}">Сохранить PDF</a></p>
</div>

{% endblock %}
