{% load static %}
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <style>
  .div_format {
    width: 80%;
    margin-left: 10%;
    margin-bottom: 50px;
  }
  .table1 td {
    border: 1px solid black;
    text-align: center;
    width: 520px;

  }
  .table1 th {
    border: 1px solid black;
    text-align: center;
    width: 520px;
    font-weight: bold;
    /*font-weight: bold;*/
  }
  .table1 {
    border-spacing:0px;
    border-collapse: collapse;
  }
  </style>
</head>
<body>
<div class="div_format">

  {% for i in content %}
    {% if i.head.servicecode == 'GetPersonalAccountInfoWithSumInfo' %}
    <h3>Данные из личных страховых счетов застрахованного лица СФ КР</h3>
      {% if i.head %}
        <p>Источник:            {{ i.head.issuer }}</p>
        <p>Фамилия:  {{ i.head.last_name }}</p>
        <p>Имя:  {{ i.head.name }}</p>
        <p>Отчество:  {{ i.head.patronymic }}</p>
        <p>ИНН:  {{ i.head.pin }}</p>
        <table class="table1">
          <tr>
           <th>ИНН организации</th>
           <th>Номер СФ организации</th>
           <th>Название организации</th>
           <th>Дата начало</th>
           <th>Дата конец</th>
           <th>Сумма</th>
         </tr>
         {% for i in content %}
             <tr>
               <td>{{ i.inn }}</td>
               <td>{{ i.numsf }}</td>
               <td>{{ i.payer }}</td>
               <td>{{ i.date_begin }}</td>
               <td>{{ i.date_end }}</td>
               <td>{{ i.salary }}</td>
             </tr>
         {% endfor %}
      {% endif %}
    {% endif %}
  {% endfor %}
</table>
{% for i in content %}
  {% if i.head.employee_name %}
  <br>
  <p>Исполнитель:  {{ i.head.employee_name }}</p>
  {% endif %}
{% endfor %}
</div>
</body>
</html>
