{% extends 'tunduk_app/wrapper.html' %}
{% load static %}
{% block content %}

<div class="div_format">
    <p></p>
    <form action="{% url 'send_request' service_id %}" method="get">
    {% csrf_token %}

    <p>Тип запроса:<Br>
      <select name="type_request" class="select-css-1" id='type_request_field' required>
      <option disabled="" selected="selected">Выберите тип запроса</option>
      {% for request_type in request_types %}
      <option value="{{ request_type.type_id }}">{{ request_type.name }}</option>
      {% endfor %}
      </select></p>

      <div id="code_field_div">
      <p>Код подтверждения:<Br>
      <input placeholder="Введите SMS код" name="code" class="btn-css" id="code_field"></p>
      </div>

      <div id="request_id_field_div">
      <p>RequestId:<Br>
      <input placeholder="Введите полученный RequestId" name="requestid" class="btn-css" id="request_id_field" style="width: 300px;"></p>
      </div>

      <div id="pin_field_div">
      <p>ИНН:<Br>
      <input placeholder="Введите ИНН клиента" name="pin" type="number" maxlength="14" class="btn-css"></p>
      </div>

      <div id="phone_number_field_div">
      <p>Номер телефона:<Br>
      <input placeholder="+996ХХХХХХХХХ" id="phone_number_field" class="btn-css" name="phone_number"></p>
      </div>

      <div id="perm_issued_date_field_div">
      <p>Дата окончания разрешения (минимум 1 месяц):<Br>
      <input type="date" name="perm_issued_date" class="btn-css" id="perm_issued_date_field"></p>
      </div>

      <div id="birth_date_field_div">
      <p>Дата рождения:<Br>
      <input type="date" name="birth_date" class="btn-css" id="birth_date_field"></p>
      </div>

      <div id="issued_date_field_div">
      <p>Дата окончания действия паспорта:<Br>
      <input type="date" id="issued_date_field" name="issued_date" class="btn-css"></p>
      </div>

      <p><button type="submit" class="btn-css" id="submit_form" disabled>Отправить (OK)</button></p></form></div>

<style>
#code_field_div, #request_id_field_div, #pin_field_div, #phone_number_field_div,
#perm_issued_date_field_div, #birth_date_field_div, #issued_date_field_div {
  display: none;
}
</style>

{% endblock %}
