{% load static %}
<!DOCTYPE HTML>
<html>
 <head>
  <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
  <link rel="stylesheet" href="{% static 'tunduk_app/css/style.css' %}" />
  <link rel="stylesheet" href="{% static 'bootstrap/css/bootstrap.min.css' %}" />
  <script type="text/javascript" src="{% static 'tunduk_app/js/dropdown.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
  <link rel="stylesheet" href="{% static 'bootstrap/css/Login-Form-Dark.css' %}" />
  <title>Changan-Tunduk service</title>
 </head>
 <body>
   <header>
     <a href="{% url 'index' %}"><img src="{% static 'bootstrap/img/logo_rus2.png' %}"></a>
     {% if user.is_authenticated %}
      <div class="logout">
      <a href="{% url 'logout_request' %}" class="btn btn-secondary">Выйти</a></div>
     {% endif %}
     <nav>
        <ul class="nav">
          <!--<li><a href="/os" class="icon home"><span>Home</span></a></li>-->
          <li class="dropdown">
            <a href="/os" onclick="return false">Отправка запроса</a>
            <ul>
              <li><a href="{% url 'send_request_template' %}">Социальный Фонд</a></li>
              <li><a href="{% url 'index' %}">МВД</a></li>
            </ul>
          </li>
          <li class="dropdown">
            <a href="{% url 'index' %}">еще что то</a>
          </li>
      </nav>
   </header>
   {% block content %}
   {% endblock %}
  <footer>
  </footer>
  <script type="text/javascript" src="{% static 'tunduk_app/js/dropdown.js' %}"></script>
  <script type="text/javascript" src="{% static 'bootstrap/js/jquery.min.js' %}"></script>
 </body>
</html>
